<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="logging_settings" type="Guytp.Logging.LoggingConfigurationSection, Guytp.Logging" />
    <section name="webapi_configuration" type="Guytp.WebApi.WebApiConfigurationSection, Guytp.WebApi" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <webapi_configuration>
    <settings binding_uri="http://*:60000" version="1" service_name="sift-voting" />
    <jwt_authentication enable_middleware="true" issuer="urn:com.lts-api.sso" audience="urn:com.lts-api" certificate_distinguished_name="CN=sso.lts-api.com" />
    <exception_handling enable_middleware="true" include_stack_trace="true" log_exceptions="true" log_level="Error" />
    <swagger enabled="true" override_root_url="">
      <xml_documentation>
        <add>lts-votingapi.xml</add>
      </xml_documentation>
    </swagger>
  </webapi_configuration>
  <logging_settings>
    <console_provider debug="false" info="true" warning="true" error="true" />
    <event_firing_provider debug="false" info="true" warning="true" error="true" />
  </logging_settings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>