body {
    font-family: sans-serif
}

.containerBox {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 40px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

form .inputRow {
    margin-bottom: 20px;
}

    form .inputRow span {
    }

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #4285F4;
    border-radius: 4px;
    outline: none;
    color: white;
}

select {
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #4285F4;
    color: white;
}

textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #4285F4;
    border-radius: 4px;
    outline: none;
    height: 120px;
    resize: none;
    color: white;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #4285F4;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;
}

.container {
    padding: 0.01em 16px;
}

.percentage-background {
    font-size: 36px;
    color: #000;
    background-color: #cccccc;
}

.percentage-inside {
    background-color: #4CAF50;
    color: #fff;
}

.percentage-inside span {
    padding: 0.01em 16px;
}

.containerBox h1 {
    font-size: 18px;
    font-weight: bold;
}

td {
    padding: 3px 10px;
}

thead td {
    font-weight: bold;
}

#errorContainer p, #errorContainer li {
    color: indianred;
}

.validation-error {
    background-color: indianred!important
}